node_modules/
www/
platforms/
plugins/
dist/
.vscode/
*.log
/index.html
build/
/.idea/CloudJam.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
